@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/firacode/eot/FiraCode-Light.eot');
    src: url('/fonts/firacode/eot/FiraCode-Light.eot') format('embedded-opentype'),
         url('/fonts/firacode/woff2/FiraCode-Light.woff2') format('woff2'),
         url('/fonts/firacode/woff/FiraCode-Light.woff') format('woff'),
         url('/fonts/firacode/ttf/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/firacode/eot/FiraCode-Regular.eot');
    src: url('/fonts/firacode/eot/FiraCode-Regular.eot') format('embedded-opentype'),
         url('/fonts/firacode/woff2/FiraCode-Regular.woff2') format('woff2'),
         url('/fonts/firacode/woff/FiraCode-Regular.woff') format('woff'),
         url('/fonts/firacode/ttf/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/firacode/eot/FiraCode-Medium.eot');
    src: url('/fonts/firacode/eot/FiraCode-Medium.eot') format('embedded-opentype'),
         url('/fonts/firacode/woff2/FiraCode-Medium.woff2') format('woff2'),
         url('/fonts/firacode/woff/FiraCode-Medium.woff') format('woff'),
         url('/fonts/firacode/ttf/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/firacode/eot/FiraCode-Bold.eot');
    src: url('/fonts/firacode/eot/FiraCode-Bold.eot') format('embedded-opentype'),
         url('/fonts/firacode/woff2/FiraCode-Bold.woff2') format('woff2'),
         url('/fonts/firacode/woff/FiraCode-Bold.woff') format('woff'),
         url('/fonts/firacode/ttf/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

code[class*="language-"],
pre[class*="language-"] {    
    font-size: 14px;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: #1d1f21;
    color: #c5c8c6;
}

code {
    font-family: 'Fira Code', monospace;
    font-variant-ligatures: contextual !important;    
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b4b7b4;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b4b7b4;
}

pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #969896;
}

.token.punctuation {
    color: #c5c8c6;
}

.token.namespace {
    opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number {
    color: #de935f;
}

.token.property {
    color: #f0c674;
}

.token.tag {
    color: #81a2be;
}

.token.string {
    color: #8abeb7;
}

.token.selector {
    color: #b294bb;
}

.token.attr-name {
    color: #de935f;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #8abeb7;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
    color: #b5bd68;
}

.token.statement,
.token.regex,
.token.atrule {
    color: #8abeb7;
}

.token.placeholder,
.token.variable {
    color: #81a2be;
}

.token.deleted {
    text-decoration: line-through;
}

.token.inserted {
    border-bottom: 1px dotted #fff;
    text-decoration: none;
}

.token.italic {
    font-style: italic;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.important {
    color: #c66;
}

.token.entity {
    cursor: help;
}

pre > code.highlight {
    outline: 0.4em solid #c66;
    outline-offset: 0.4em;
}
