/**********
 Reset
***********/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

@font-face {
    font-family: 'League Spartan';
    src: url('/fonts/league-spartan/leaguespartan-bold.eot');
    src: url('/fonts/league-spartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/league-spartan/leaguespartan-bold.woff2') format('woff2'),
         url('/fonts/league-spartan/leaguespartan-bold.woff') format('woff'),
         url('/fonts/league-spartan/leaguespartan-bold.ttf') format('truetype'),
         url('/fonts/league-spartan/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/firacode/eot/FiraCode-Light.eot');
    src: url('/fonts/firacode/eot/FiraCode-Light.eot') format('embedded-opentype'),
         url('/fonts/firacode/woff2/FiraCode-Light.woff2') format('woff2'),
         url('/fonts/firacode/woff/FiraCode-Light.woff') format('woff'),
         url('/fonts/firacode/ttf/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/firacode/eot/FiraCode-Regular.eot');
    src: url('/fonts/firacode/eot/FiraCode-Regular.eot') format('embedded-opentype'),
         url('/fonts/firacode/woff2/FiraCode-Regular.woff2') format('woff2'),
         url('/fonts/firacode/woff/FiraCode-Regular.woff') format('woff'),
         url('/fonts/firacode/ttf/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/firacode/eot/FiraCode-Medium.eot');
    src: url('/fonts/firacode/eot/FiraCode-Medium.eot') format('embedded-opentype'),
         url('/fonts/firacode/woff2/FiraCode-Medium.woff2') format('woff2'),
         url('/fonts/firacode/woff/FiraCode-Medium.woff') format('woff'),
         url('/fonts/firacode/ttf/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/firacode/eot/FiraCode-Bold.eot');
    src: url('/fonts/firacode/eot/FiraCode-Bold.eot') format('embedded-opentype'),
         url('/fonts/firacode/woff2/FiraCode-Bold.woff2') format('woff2'),
         url('/fonts/firacode/woff/FiraCode-Bold.woff') format('woff'),
         url('/fonts/firacode/ttf/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


.algolia-autocomplete {
    z-index: 10000;
}

* {
    box-sizing: border-box;
    margin: 0;    
    padding: 0;    
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.remix-button:hover {
    text-decoration: none;
    border-bottom: none;
}

.remix-button:hover > * {
    text-decoration: underline;
}

.remix-button button {
    border: 2px solid #FC5B5B;
    color: #FC5B5B;
    background: transparent;    
    border-radius: 5px; 
    padding: 10px;
    cursor: pointer;
    height: 4em;
    width: 8em;
    font-size: 10pt;        
}

.remix-button button img {
    height:1em;
}
body {
    background: #FC5B5B0A;    
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
}

blockquote {
    border-left: 0.3em dotted;       
    padding-left: 1em;
    font-style: italic;
    line-height: 2;
}

p {
    line-height: 1.5;
}

/**********
 Text
***********/
html {
    font-size: 10px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Futura', 'League Spartan', sans-serif;
}


body,
p, a, h6
li, ul {
    font-family: 'Avenir', 'Nunito Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
    margin: 30px 0;
}

li, li > *, dt, dd {
    margin: 10px 0;
}

a {
    color: rgb(36, 24, 117);
    text-decoration: none;    
}
a:visited {
    color: #FC5B5B;
}
a:hover:visited { 
    border-bottom: 2px dotted #FC5B5B;
}

a:hover {
    border-bottom: 2px dotted rgb(36, 24, 117);    
}

h1 {font-size: 3.4rem;}
h2 {font-size: 3rem;}
h3 {font-size: 2.4rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.6rem;}
h6 {font-size: 1.6rem;}

p, a, li, dt, dd, tr, th {
    font-size: 1.8rem;
}


table, th, td { 
    border: none;
}


tr {
    border-bottom: 1px solid black;
}

td:first-child {
    font-weight: bold;
}

tr:last-child{ 
  border-bottom: none;
}

hr {
    border: none;
    background: #FC5B5B;
    height: .15em;    
    width: 100%; 
}

ul {
   list-style-type: '⇒ ';
   list-style-image: none;
   list-style-position: inside;   
}