/**
 * modified okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * original author: ocodia
 */

 @font-face{
    font-family: 'Fira Code';
    src: url('/fonts/firacode/eot/FiraCode-Light.eot');
    src: url('/fonts/firacode/eot/FiraCode-Light.eot') format('embedded-opentype'),
         url('/fonts/firacode/woff2/FiraCode-Light.woff2') format('woff2'),
         url('/fonts/firacode/woff/FiraCode-Light.woff') format('woff'),
         url('/fonts/firacode/ttf/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/firacode/eot/FiraCode-Regular.eot');
    src: url('/fonts/firacode/eot/FiraCode-Regular.eot') format('embedded-opentype'),
         url('/fonts/firacode/woff2/FiraCode-Regular.woff2') format('woff2'),
         url('/fonts/firacode/woff/FiraCode-Regular.woff') format('woff'),
         url('/fonts/firacode/ttf/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/firacode/eot/FiraCode-Medium.eot');
    src: url('/fonts/firacode/eot/FiraCode-Medium.eot') format('embedded-opentype'),
         url('/fonts/firacode/woff2/FiraCode-Medium.woff2') format('woff2'),
         url('/fonts/firacode/woff/FiraCode-Medium.woff') format('woff'),
         url('/fonts/firacode/ttf/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/firacode/eot/FiraCode-Bold.eot');
    src: url('/fonts/firacode/eot/FiraCode-Bold.eot') format('embedded-opentype'),
         url('/fonts/firacode/woff2/FiraCode-Bold.woff2') format('woff2'),
         url('/fonts/firacode/woff/FiraCode-Bold.woff') format('woff'),
         url('/fonts/firacode/ttf/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
    
.gatsby-highlight {
    padding-bottom: 30px;
}

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    background: none;
    font-family: 'Fira Code', monospace;
    font-variant-ligatures: contextual !important;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.87;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    /* box-shadow: 0.05555555555555555rem 0.05555555555555555rem 1.1111111111111112rem rgba(20,20,20,0.37); */
}



/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #111836;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #b5bec3;
}

.token.punctuation {
    color: #f8f8f2;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #EFC090;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #DC78DC;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
    color: #BED6FF;
}

.token.keyword {
    color: #00D0D0;
}

.token.regex,
.token.important {
    color: #CCDF32;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
